
<% @posts.each do |post| %>
  <article class="panel panel-default">

    <h2 class="panel-heading">
      <%= image_tag post.author_photo_url, class: 'author-photo' %>
      <%= post.title %><br />
      <small>By <%= post.author %></small>
    </h2>

    <div class="panel-body">
      <p><em class="text-muted">Posted on <%= post.created_at.strftime('%A, %B %d %Y at %l:%M%P') %></em></p>
      <%= raw post.body %>
    </div>

  </article>
<% end %>
