<!DOCTYPE html>
<html>
<head>
  <title>BlogBox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="container clearfix">
      <%= link_to 'New Post', new_post_path, class: 'btn btn-default pull-right' %>
      <h1><%= link_to 'BlogBox', root_path %></h1>
    </div>
  </nav>

  <section class="container">
    <%= yield %>
  </section>

  <footer class="text-center text-muted small">
    <p>
      This site is licensed under the open source <%= link_to 'MIT License', 'http://opensource.org/licenses/MIT' %>.
      Copyright &copy; <%= Time.now.year %> <%= link_to 'Humani.se', 'http://humani.se' %>. All Rights Reserved.
    </p>
  </footer>

</body>
</html>
